<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
  <div class="container"><a class="navbar-brand" href="#page-top" style="color: darkorange" routerLink="Afficher des personnes">Home</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto text-uppercase">
      <li class="nav-item"><a class="nav-link" routerLink="Ajouter une personne">Ajouter une Personne</a></li>
    </ul>
    </div>
  </div>
</nav>
<body>

</body>






----------------------------------------------------------------------------


