<p>todolist works!</p>



<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">userid</th>
    <th scope="col">id</th>
    <th scope="col">title</th>
    <th scope="col">completed</th>


  </tr>
  </thead>
  <tbody *ngFor="let t of todolist ; let i=index">
  <!--<tr *ngIf="prix>=p.price || prix == null" >-->
   <tr>
     <td >{{t.userId}}</td>
    <td>{{t.id}}</td>
    <td>{{t.title}}</td>
    <td >{{t.completed}}</td>
    <!--<td><a routerLink="{{t.id}}">Detail</a></td>-->

  </tr>
  </tbody>
</table>
<div>
  <button (click)="calcaul()" style="color: white ; background-color: greenyellow">calculer</button><h1>{{c}}</h1>
</div>
