<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">title</th>
    <th scope="col">price</th>
    <th scope="col">quantity</th>
    <th scope="col">details</th>
    <th scope="col"></th>
    <th scope="col"></th>

  </tr>
  </thead>
  <tbody *ngFor="let p of list ; let i=index">
  <!--<tr *ngIf="prix>=p.price || prix == null" >-->
  <tr>
  <td >{{p.id}}</td>
    <td>{{p.title}}</td>
    <td>{{p.price}}</td>
    <td >{{p.quantity}}</td>
    <td><a routerLink="{{p.id}}">Detail</a></td>
    <td><button [disabled]="p.quantity==0" style="color: white ;background-color: dodgerblue">Buy</button></td>
    <td><button  style="color: white ; background-color: chocolate">like</button></td>

  </tr>
  </tbody>
</table>
<form #form="ngForm">

  <div class="form-group">
    <label for="formGroupExampleInput">Id</label>
    <input type="text" name="id" required minlength="4" [(ngModel)]="Product.id" pattern="[0-9]+" required #id="ngModel"
           class="form-control" id="formGroupExampleInput" placeholder="taper votre nom">

    <div *ngIf="id.invalid && id.touched">
      <p *ngIf="id.hasError('required')">this field is required</p>
      <p *ngIf="id.hasError('pattern')">Only numbers</p>
    </div>
  </div>
  <br>
  <div class="form-group">
    <label for="formGroupExampleInput2">Title</label>
    <input type="text" name="name" [(ngModel)]="Product.title" pattern="[a-zA-Z]{3,20}$" required #fn="ngModel"
           class="form-control" id="formGroupExampleInput3" placeholder="taper votre prenom">
    <div *ngIf="fn.invalid && fn.touched">
      <p *ngIf="fn.hasError('required')">this field is required</p>
      <p *ngIf="fn.hasError('pattern')">respect the pattern</p>
    </div>

  </div>
  <br>
  <div class="form-group">
    <label for="formGroupExampleInput2">Price</label>
    <input type="text" name="name" [(ngModel)]="Product.price" pattern="[a-zA-Z]{3,20}$" required #fn="ngModel"
           class="form-control" id="formGroupExampleInput4" placeholder="taper le prix">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Quantité</label>
    <input type="text" name="name" [(ngModel)]="Product.quantity" pattern="[a-zA-Z]{3,20}$" required #fn="ngModel"
           class="form-control" id="formGroupExampleInput5" placeholder="taper la quantité">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Like</label>
    <input type="text" name="name" [(ngModel)]="Product.like" pattern="[a-zA-Z]{3,20}$" required #fn="ngModel"
           class="form-control" id="formGroupExampleInput2" placeholder="taper ">
  </div>

  <br>

  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-2"  (click)="save()">Submit</button>
  </div>

</form>
