<h2>{{contenu}}</h2>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <!--<span class="input-group-text" id="basic-addon1">Searsh</span> -->
  </div>
  <input type="text" [(ngModel)]="prix" class="form-control" placeholder="Chercher" aria-label="Username" aria-describedby="basic-addon1"  style="border-radius: 45px">
</div>


<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">title</th>
    <th scope="col">price</th>
    <th scope="col">quantity</th>
    <th scope="col">details</th>
    <th scope="col"></th>
    <th scope="col"></th>

  </tr>
  </thead>
<tbody *ngFor="let p of listProduct ; let i=index">
<tr *ngIf="prix>=p.price || prix == null" >
  <td >{{p.id}}</td>
  <td>{{p.title}}</td>
  <td>{{p.price}}</td>
  <td >{{p.quantity}}</td>
  <td><a routerLink="{{p.id}}">Detail</a></td>
  <td><button (click)="buy(i)"[disabled]="p.quantity==0" style="color: white ;background-color: dodgerblue">Buy</button></td>
  <td><button (click)="like(i)" style="color: white ; background-color: chocolate">like</button></td>

</tr>
</tbody>
</table>
<div>
<button (click)="calcul()" style="color: white ; background-color: darkmagenta">like</button>
</div>
<h1>{{p}}</h1>





